.auth_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginForm {
	margin: 0;
	
	/* display: flex; */
}

#log {
	width: 200px;
	height: 50px;
}

.submit_input{
	cursor: pointer;
}
